[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedparser = "*"
"beautifulsoup4" = "*"
pyTelegramBotAPI = "*"

[dev-packages]

[requires]
python_version = "3.6"
